{% capture categories %}
{% if post %}
{% for category in post.categories %}
<a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}" title="Category: {{ category }}" rel="category"></a>{% unless for loop.last %}&nbsp;{% end unless %}
{% endfor %}
{% else %}
{% for category in page.categories %}
<a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}" title="Category: {{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless for loop.last %}&nbsp;{% end unless %}
{% endfor %}
{% endif %}
{% end capture %}
{% capture category_size %}{{ categories | strip_newlines | replace: ' ', '' | size }}{% end capture %}
{% unless category_size == '0' %}
<!-- <span class="point">•</span> -->
<span class="categories">
  <i class="fa fa-th-list"></i>{{ categories }}
  <!-- <span class="point">•</span> -->
</span>
{% end unless %}
